/*
====================
  重置El Ui 的样式
====================
*/

.el-button {
  // width: 100%;
}

.alibaba-icont {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

// 自定义的dialog类名 需通过 custom-class="my-el-dialog" 传入 dialog
.my-el-dialog {
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    padding: 0 20px 0 20px;
  }
}
.el-popover {
  border-radius: 0;
}
