/*
====================
  重置El Ui 的样式
====================
*/

.el-button {
  width: 100%;
}

.alibaba-icont {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
