/*
****************
    颜色变量
****************
*/
// 文字
// 在白底上
$font-color-black:        #000000;
// 在有色底上
$font-color-white:        #ffffff;
// 文字选中
$font-color-focus:        #3485fb;
// 文字 hover
$font-color-hover:        #71AAFC;
// 辅助性文字 灰色不明显
$font-color-gray:         #001529;
// 输入框提示文字 禁用文字 灰色
$font-color-placeholder:  #999999;
